{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_side_nav %}

    <div class="user-panel text-center">
            <h4 style="color:white" class="text-center text-primary">{{ app.user |capitalize }}</h4>
            
        <a href="#" class="text-center"><i class="fa fa-circle text-success "></i> En ligne</a>
    </div>

    {{ parent() }}

{% endblock sonata_side_nav %} 

{% block sonata_top_nav_menu %}
                            {% if app.user and is_granted('ROLE_SONATA_ADMIN') %}
                                <div class="navbar-custom-menu">
                                    <ul class="nav navbar-nav">
                                        {% block sonata_top_nav_menu_add_block %}
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                    <i class="fa fa-plus-square fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </a>
                                                {% include sonata_admin.adminPool.getTemplate('add_block') %}
                                            </li>
                                        {% endblock %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endblock %}

{% block sonata_top_nav_menu_user_block %}
    <li class="dropdown user-menu">
        {% if app.user.Lastname and app.user.Firstname is not null %}
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <p style="margin: 0px;" class="text-success">{{ app.user.Firstname |capitalize }}
                    {{ app.user.Lastname |capitalize }}
                    <i class="fa fa-caret-down" aria-hidden="true"></i></p>
            </a>
        {% else %}
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <p style="margin: 0px;" class="text-success">{{ app.user |capitalize }} 
                    <i class="fa fa-caret-down" aria-hidden="true"></i></p>
            </a>
        {% endif %}
        <ul class="dropdown-menu dropdown-user">
            {% include sonata_admin.adminPool.getTemplate('user_block') %}
        </ul>
    </li>
{% endblock %}
{% block side_bar_after_nav %}
    <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px">
        {% block side_bar_after_nav_content %}
            <a href="http://www.anakrys.fr/" rel="noreferrer" target="_blank">Conception Remi & Florent Company</a>
        {% endblock %}
    </p>
{% endblock %}

